# Task 3

First, update the following cell to have a link to your Homework 1 GitHub repository:

**UPDATE THIS LINK:**

https://github.com/lchenhub/eds220-hwk-1.git


In this task, make at least 5 commits at moments you think are adequate. We'll look at your repo to check commit history.

Add comments for all your code. Err on the side of commenting too much for now. 

Comments in each exercise and commits will count towards your grade.

This task covers topics we will see on Monday Oct. 9. The best strategy to solve it is to get together with your classmates and work on it together after Monday's lecture.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

The data includes the coral reef locations, number of coral taxa, and climate change, water quality, human resource management and extraction variables for each 6.25km^2 reef cell averaged over the 1998-2022 sampling period. 

Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H

Data accessed: October 10, 2023

Link: https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d

## 2
In the next code cell, import the pandas package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [2]:
# solve exercise here

# import pandas
import pandas as pd

# read in file
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

a. how many rows and columns does it have?

b. what are the column names?

c. what are the data types of the columns?

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (see discussion section)

e. some inital info you are interested in. 

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

In [17]:
# a (575 rows & 42 columns)
coral_div.shape

#The output is 575 rows and 42 columns

(575, 42)

In [23]:
# b (column names)
coral_div.columns.values.tolist() 

#Output returns list of column names, ranging from 'PU_ID' to 'no_replicates'

['PU_ID',
 'PU_Lat',
 'PU_Lon',
 'Number_of_genera',
 'Country',
 'Ecoregion',
 'Management',
 'Habitat',
 'Observer',
 'Depth',
 'Coralcover',
 'SSTRateofRise',
 'PARmax',
 'Calcite',
 'Dis_oxygen',
 'mean.waveNRJ',
 'Salinity_mean',
 'andrello_reef_value',
 'andrello_nutrients',
 'mean.npp',
 'TT_market_hrs',
 'TT_pop_hrs',
 'cumDHW',
 'SST_Kurtosis',
 'SST_Median',
 'ChlorA_median',
 'andrello_sediments',
 'Current_vel_mean',
 'Diff_attenuation',
 'Grav_NP',
 'Grav_NC',
 'PH',
 'SST_bimodality',
 'SST_Skewness',
 'ClimateStressModel',
 'Netflow',
 'Indegree',
 'Outdegree',
 'Retention',
 'min_yr',
 'max_yr',
 'no_replicates']

In [22]:
# c (data type)
coral_div.info()

#Data types for this dataframe ranges from integers, to floats, to objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PU_ID                575 non-null    int64
 1   PU_Lat               575 non-null    float64
 2   PU_Lon               575 non-null    float64
 3   Number_of_genera     575 non-null    int64
 4   Country              575 non-null    object
 5   Ecoregion            575 non-null    object
 6   Management           575 non-null    object
 7   Habitat              530 non-null    object
 8   Observer             575 non-null    object
 9   Depth                575 non-null    float64
 10  Coralcover           575 non-null    int64
 11  SSTRateofRise        575 non-null    float64
 12  PARmax               575 non-null    float64
 13  Calcite              575 non-null    float64
 14  Dis_oxygen           575 non-null    float64
 15  mean.waveNRJ         575 non-null    float64
 16  Salinity_mean        575 non-null    float64
 17  andrello_reef_value  575 non-null    int64
 18  andrello_nutrients   575 non-null    float64
 19  mean.npp             575 non-null    float64
 20  TT_market_hrs        575 non-null    float64
 21  TT_pop_hrs           575 non-null    float64
 22  cumDHW               575 non-null    float64
 23  SST_Kurtosis         575 non-null    float64
 24  SST_Median           575 non-null    float64
 25  ChlorA_median        575 non-null    float64
 26  andrello_sediments   575 non-null    float64
 27  Current_vel_mean     567 non-null    float64
 28  Diff_attenuation     575 non-null    float64
 29  Grav_NP              575 non-null    float64
 30  Grav_NC              575 non-null    float64
 31  PH                   575 non-null    float64
 32  SST_bimodality       575 non-null    float64
 33  SST_Skewness         575 non-null    float64
 34  ClimateStressModel   575 non-null    float64
 35  Netflow              575 non-null    float64
 36  Indegree             575 non-null    float64
 37  Outdegree            575 non-null    float64
 38  Retention            575 non-null    float64
 39  min_yr               575 non-null    int64
 40  max_yr               575 non-null    int64
 41  no_replicates        575 non-null    int64
dtypes: float64(30), int64(7), object(5)
memory usage: 188.8+ KB

In [20]:
# d (first 8 rows)

print(coral_div.head(8))

#column names include PU_ID, PU_Lat, PU_Lon, Number_of_genera, Country, etc

   PU_ID     PU_Lat    PU_Lon  Number_of_genera   Country  \
0      7  39.076711 -5.490011                35  Tanzania
1      7  39.076711 -5.490011                22  Tanzania
2      7  39.076711 -5.490011                25  Tanzania
3      7  39.076711 -5.490011                26  Tanzania
4     10  39.054253 -5.512514                27  Tanzania
5     10  39.054253 -5.512514                29  Tanzania
6     15  39.054253 -5.535017                19  Tanzania
7     39  39.009337 -5.647518                28  Tanzania

                  Ecoregion   Management           Habitat Observer  Depth  \
0  East African Coral Coast  UnfishedLow             Crest      Tim   11.0
1  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    2.0
2  East African Coral Coast  UnfishedLow             Slope  Nyawira    4.0
3  East African Coral Coast  UnfishedLow             Slope  Nyawira    3.0
4  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    1.5
5  East African Coral Coast  UnfishedLow  Lagoon/Back reef      Tim    1.5
6  East African Coral Coast   Restricted             Crest      Tim    8.0
7  East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira    3.0

   ...  SST_bimodality  SST_Skewness  ClimateStressModel   Netflow  Indegree  \
0  ...        0.462556     -0.128136            0.596375  0.144498     98.25
1  ...        0.462556     -0.128136            0.596375  0.144498     98.25
2  ...        0.462556     -0.128136            0.596375  0.144498     98.25
3  ...        0.462556     -0.128136            0.596375  0.144498     98.25
4  ...        0.461297     -0.134548            0.629000  0.011721    112.75
5  ...        0.461297     -0.134548            0.629000  0.011721    112.75
6  ...        0.461297     -0.134548            0.595600  0.011721    112.75
7  ...        0.464874     -0.158601            0.626000 -0.063087     96.50

   Outdegree  Retention  min_yr  max_yr  no_replicates
0      74.75      14.00    2019    2019              1
1      74.75      14.00    2010    2015              2
2      74.75      14.00    2015    2015              1
3      74.75      14.00    2016    2019              2
4      51.50     183.75    2010    2019              3
5      51.50     183.75    2015    2015              1
6      51.50     183.75    2019    2019              1
7      40.75      35.75    2015    2019              3

[8 rows x 42 columns]

In [21]:
# e (interesting info)

coral_div.Habitat

# Habitat includes crest, lagoon/back reef, slope

0                 Crest
1      Lagoon/Back reef
2                 Slope
3                 Slope
4      Lagoon/Back reef
             ...
570               Slope
571               Slope
572               Slope
573               Slope
574               Slope
Name: Habitat, Length: 575, dtype: object

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

*Update this markdown cell with your answer.*

'int64' represents integers, otherwise called whole numbers, with 64 bits of memory use.
'float64' represents numbers with decimals, otherwise called real numbers, and have 64 bits of precisionmemory use.

## 5

The `Country` column indicates the country of reef location. Explain in your words what is the ouput of `coral_div.Country` and `coral_div.Country.unique()`.

'coral_div.Country' shows all of the columns names in the table and includes repetitions.

'coral_div.Country.unique()' shows all of the unique column names, so nothing is repeated.

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: use the `len` Python function. Not sure what `len` does? Use `?`.

In [32]:
print(len(coral_div.Observer))

#575 observers collected this data

575

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6km reef cell surveyed. What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

`coral_div[coral_div['Coralcover'] >= 50]` selects rows where the hard coral cover is more than or equal to 50 percent.

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania.

In [54]:
coral_div[(coral_div['Coralcover'] == 30) & (coral_div['Country']=='Tanzania')]

#There are 9 sites with 30% coral cover in Tanzania.

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (PSS) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Select this data.

In [9]:
# solve exercise here

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017.

In [10]:
# solve exercise here

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Are you indexing from 0?

In [11]:
# solve exercise here

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

*Update this markdown cell with your answer.*

## 13
Run `subset.isna().any()`. Explain what this code does and what the output represents. HINT: It could be helpful to check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

*Update this markdown cell with your answer.*

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. HINT: you can use your answer for 9.

In [12]:
# solve exercise here